/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
.footer {
    position:fixed ;
    display: inline-block;
  background:  #1b1d19;
  bottom:0;
  width:100%;
}
.footer h3 {
    text-align: center;
  font-family: "Pacifico", cursive;
}

.footer p:hover {
  background-color: #f9e4d4 !important;
  color: #f9e4d4 !important;
  padding: 2px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer h3 {
    font-size: 1rem !important;
  }
  .footer-gif {
    height: 40px !important;
    width: 40px !important;
  }
}

#blacky{
    background-color: #1b1d19;
    /* position: relative; */
}